{% extends "../base.html" %}
{% load static %}
{% block content %}
<section class="application-section">
    {% if page_obj.object_list %}
    <section class="application-listings">   
        {% for item in page_obj %}
            <div class="application-item">
                <div class="application-details">
                    <span class="volunteership-title">{{ item.volunteership.title }}</span>
                    <span class="application-status status-{{ item.status|lower }}">{{ item.status }}</span>
                </div>
            </div>
        {% endfor %}
    </section>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="first-page">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="prev-page">Previous</a>
            {% endif %}
    
            <span class="current-page">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="next-page">Next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="last-page">Last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
    <h1>Applications not found</h1>
    {% endif %}
</section>
{% endblock %}